* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --blue: #00b2b1;
  --black: #031d1b;
  --btn-hover: #262828;
  --gray: #545757;
  --white: #fdfdfd;
}

body {
  background-color: var(--white);
  font-family: Arial, Helvetica, sans-serif;
}

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* background-color: rgb(243, 123, 243); */
  background-color: var(--blue);
  height: 4rem;
  width: 100%;
  padding: 0 20px;
}

.heading {
  color: var(--black);
  font-size: 2rem;
  letter-spacing: 0.075rem;
}

.nav-menus {
  display: flex;
  align-items: center;
}

.nav-menus li {
  list-style-type: none;
  padding-right: 30px;
}

.nav-link:link,
.nav-link:visited {
  display: inline-block;
  text-decoration: none;
  color: var(--gray);
  font-size: 1.2rem;
  letter-spacing: 0.075rem;
  transition: all 0.3s;
}

.nav-link:hover,
.nav-link:active {
  color: var(--white);
  transition: all 0.5s;
}

.login {
  padding-right: 2rem;
  /* text-decoration: none;
  color: var(--gray);
  font-size: 1.2rem;
  align-items: center;
  letter-spacing: 0.075rem; */
}

.sign-up {
  /* padding: 10px 14px; */
  width: 5rem;
  height: 2.2rem;
  font-size: 0.9rem;
  /* font-weight: bold; */
  color: var(--white);
  background-color: var(--black);
  border: none;
  border-radius: 5px;
  letter-spacing: 0.075rem;
  cursor: pointer;
  transition: all 0.3s;
}
.sign-up:hover {
  background: transparent;
  color: var(--black);
  border: 1px solid var(--black);
}

.burger {
  display: none;
  cursor: pointer;
}

.burger div {
  width: 25px;
  height: 3px;
  background-color: black;
  margin: 5px;
}

@media screen and (max-width: 800px) {
  body {
    overflow-x: hidden;
  }
  .btn {
    display: none;
  }

  .nav-menus {
    position: absolute;
    right: 0;
    top: 6vh;
    background-color: var(--blue);
    height: 94vh;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
  }

  .nav-link:hover,
  .nav-link:active {
    color: var(--white);
  }

  .nav-link {
    padding: 3rem 0;
  }

  .nav-menus li {
    opacity: 0;
  }

  .burger {
    display: block;
  }
}

.nav-active {
  transform: translateX(0%);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }

  to {
    opacity: 1;
    transform: translateX(0px);
  }
}
