* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f5f3f3;
}

.container {
  /* padding: 4rem; */
  padding: 0 4rem 2rem 4rem;
}

.container__header {
  width: 100%;
  height: 6rem;
  /* background-color: red; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container__header--heading {
  display: flex;
  align-items: center;
  gap: 5px;
}

.container__header--heading--img {
  width: 45px;
  height: 45px;
}

.container__header--heading--title {
  font-size: 1.9rem;
}

.container__header--heading--title > span {
  color: orangered;
}

.container__header--list {
  display: flex;
  gap: 1.5rem;
  list-style: none;
}

.container__header--list--menu {
  display: inline-block;
  position: relative;
}

.container__header--list--menu > a {
  font-size: 1.4rem;
  text-decoration: none;
  color: #676866;
  letter-spacing: 0.7px;
}

.container__header--list--menu a::before {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0; /* Initially, the underline width is 0 */
  height: 3px; /* Adjust thickness of underline */
  background-color: orangered; /* Adjust color of underline */
  transition: width 0.3s ease-in-out; /* Transition only the width */
  border-radius: 5px;
}

.container__header--list--menu a:hover::before {
  width: 100%; /* When hovering, the underline width expands to 100% */
}

.container__meals {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
  gap: 24px;
  padding: 2rem 4rem 4rem 2rem;
}

.container__meals--meal {
  width: 340px;
  place-self: center;
  background-color: #ffffff;
}

.img__container {
  border-radius: 10px;
}

.container__meal--img {
  width: 100%;
  height: 25rem;
  object-fit: cover;
  border-radius: 8px 8px 0 0;
}

.container__meals--content {
  padding: 1rem;
}

.container__meal--title {
  font-size: 1.2rem;
  padding-bottom: 0.8rem;
}

.container__meal--desc {
  color: #676866;
  letter-spacing: 0.75px;
}
