* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header {
  background-color: #ffffff;
  /* background-color: red; */
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #474747;
  font-family: sans-serif;
}

.navbar {
  display: flex;
  justify-content: space-between;
  min-height: 70px;
  align-items: center;
  padding: 0 4rem;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
}

.nav-branding {
  font-size: 2rem;
}

.nav-link {
  font-size: 1.2rem;
  transition: 0.7s ease;
}

.nav-link:hover {
  color: #f07215;
}

.nav-btn {
  height: 2.8rem;
  width: 7rem;
  font-size: 1rem;
  border: none;
  background-color: transparent;
  border: 2px solid #f07215;
  border-radius: 10px;
  color: #f07215;
  cursor: pointer;
}

.nav-btn:hover {
  background-color: #ffecde;
}

.hamburger {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #474747;
}

@media (max-width: 970px) {
  .navbar {
    padding: 0 1rem;
  }

  .nav-menu {
    gap: 30px;
  }

  .nav-branding {
    font-size: 1.5rem;
  }

  .nav-btn {
    height: 2rem;
    width: 5.6rem;
  }
}

@media (max-width: 768px) {
  .hamburger {
    display: block;
    color: #474747;
  }

  .nav-btn {
    display: none;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .nav-menu {
    position: fixed;
    left: -100%;
    top: 70px;
    width: 100%;
    flex-direction: column;
    gap: 0;
    align-items: center;
    transition: 0.3s;
    background-color: #ffecde;
  }

  .nav-item {
    margin: 16px 0;
  }

  .nav-menu.active {
    left: 0;
  }
  .nav-btn.active {
    left: 0;
  }
}
