* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: cornflowerblue;
  font-family: "Poppins", sans-serif;
  color: whitesmoke;
}

.container {
  text-align: center;
}

.heading {
  margin-top: 2rem;
  font-size: 2rem;
}

.form_container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30vh;
}

.input_txt {
  width: 45%;
  height: 17%;
  padding: 5px 20px;
  border-radius: 10px;
  border: none;
  font-size: 1.2rem;
  color: whitesmoke;
  text-align: start;
  font-family: inherit;
  letter-spacing: 0.75px;
  background-color: purple;
}

.input_txt:focus {
  outline: none;
}

.profile_info {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 700px;
  margin: 0 auto;
  background-color: purple;
  padding: 0 50px;
  border-radius: 20px;
}
.users_profile {
  margin-top: 50px;
  margin-right: 50px;
  margin-bottom: 100px;
}

img {
  width: 150px;
  height: 150px;
  /* background-position: cover; */
  object-fit: cover;
  border-radius: 200px;
  border: 5px solid cornflowerblue;
}

.users_info {
  text-align: left;
  display: flex;
  gap: 1rem;
  flex-direction: column;
}

.user_name {
  font-size: 1.4rem;
}

.stats {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.users_repos a {
  background: cornflowerblue;
  padding: 2px;
  display: inline-block;
  margin: 5px;
  font-size: 0.8rem;
  padding: 5px;
  color: whitesmoke;
  text-decoration: none;
}
